@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}
.brand-logo{
  font-family: 'Grand Hotel', cursive;
}
.mycard{
  margin-top: 20px;
}
.auth-card{
  padding: 10px;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(55, 126, 233) !important;
  box-shadow: 0 1px 0 0 rgb(55, 126, 233) !important;
}
.gallary{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}
.item{
  width: 30%;
  margin-bottom: 10px;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 10px auto;
}
#toast-container{
  right: 20px;
  top: 30px;
  left: auto;

}
